<!doctype html>
<html ng-app="app">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en">
    <meta name="language" content="english">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" media="all">
    {{#each styles}}
      <link rel="stylesheet" type="text/css" href="{{{.}}}" media="all">
    {{/each}}
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
    <base href="/">
    {{> gtm }}
  </head>
  <body>
    {{> gtm-iframe }}
    {{{body}}}
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ googleMapsKey }}"></script>
    {{#each scripts}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/each}}
  </body>
</html>
